.content-header .glyphicon{
    font-size: 2.25em;
    cursor: pointer;
}

.content-header .glyphicon:hover{
    color: lightgrey;
}

.content-header {
    margin-bottom: 10px;
}

#grid-area{
    overflow: scroll;
}

#team-label-top{
    /*width: 700px;*/
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

#label-grid-row{
    /*width: 700px;*/
    /*height: 100%;*/
}

#team-label-left-container{
    height: 100%;
    /*display: inline-block;*/
    position: relative;
    vertical-align: middle;
    font-weight: bold;
    width: 24px;
    top: 250px;
}

#team-label-left{
    /* Rotate */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* End Rotate */

    font-size: 1.2em;
    height: 23px;
    width: 300px;
    position: absolute;
    margin-left: -165px;
    vertical-align: middle;
    text-align: center;
}


#grid-container{
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

#grid-container table{
    margin-bottom: 0px;
}

#grid-container th{
    text-align: center;
    border-right: 1px solid #dddddd;
    background-color: #cccccc;
}

#grid-container .zero-zero{
    border-right: 2px solid #dddddd;
}

.name-input{
    width: 50px;
}

#row-body td{
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #dddddd;
}

#row-body th{
    width: 20px;
    text-align: center;
    vertical-align: middle;
    border-right: 2px solid #dddddd;
    background-color: #cccccc;
}

.page-header{
    border-bottom: none;
}

.quarter-winners-badge{
    background-color: darkorange;
}

.quarter-two-winner{
    float: right;
    /*margin-left: 10px;*/
    margin-top: -10px;
    background-color: darkorange;
}

.quarter-three-winner{
    float: left;
    margin-left: -10px;
    margin-top: 10px;
    background-color: darkorange;
}

.quarter-four-winner{
    float: right;
    /*margin-left: 10px;*/
    margin-top: 10px;
    background-color: darkorange;
}